body {
  font-family: PublicSans;
}

.footer {
  background-color: black;
  height: 150px;
}

@media (min-width: 2000px) {
  #register_container {
    padding-top: 400px !important;
    top: 30% !important;
  }
  .r-title {
    font-size: 60px !important;
  }
  #name {
    padding: 25px !important;
    width: 500px !important;
    font-size: 20px !important;
  }
  #email {
    padding: 25px !important;
    width: 500px !important;
    font-size: 20px !important;
  }
  #password {
    padding: 25px !important;
    width: 500px !important;
    font-size: 20px !important;
  }
  .rbutton {
    padding: 25px !important;
    font-size: 18px !important;
    width: 180px !important;
  }
  .a-r-link {
    font-size: 20px !important;
  }
  #verify_container_r {
    padding-top: 400px !important;
    top: 30% !important;
  }
  .v-r-title {
    font-size: 55px !important;
  }
  .r-v-button {
    padding: 25px !important;
    font-size: 18px !important;
    width: 180px !important;
  }
}
